<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

<%- if current_user.admin %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :email, :selected => @post.user_id) %>
  </div>

<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
