<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% if user_signed_in? %>
			<li>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
			</li>
      <p1 style="font-weight: 900;">Current User:</p1> <%= current_user.name %>
		<% else %>
			<li>
			<%= link_to('Login', new_user_session_path)  %>
			</li>
		<% end %>
		<p id="notice"><%= notice %></p>
		<p id="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
